.grids {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.work {
    display: flex;
    .day, .time {
        padding: 10px 0;
    }
    .day {
        width: 50%;
        padding-left: 10px;
    }
}
.active1 {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.holiday {
    color: red !important;
    font-weight: 600;
}

.map{margin: 0 auto;}


