.work {
    .icon {
        padding: 0 5px;
        color: #787878;
    }
    .day, .time {
        padding: 10px 5px;
    }
    .day {
        flex: 0 1 50%;
    }
}
.active1 {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.holiday {
    color: red !important;
    font-weight: 600;
    .icon {
        color: red !important;
    }
}

.map{margin: 0 auto;}


.notice {
    font-style: italic;
    margin-left: 40px;
}