.menuHeader {margin: 15px 0;}
.menuHeader span {
    font-weight: 600;
    font-size: 20px;
}


.work {
    color: #828282;
    line-height: 20px;
    display: flex;
}
.active {
    font-weight: 600;
    color: black;
}

.day, .time {
    padding-top: 12px;
    padding-bottom: 12px;
}


.day {
    min-width: 90px;
    width: 20%;
    padding-right: 5px;
}
