.itemPath {
    color: grey;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
    word-break: break-word;
}
.itemTitle {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.itemImgBlock {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    .imgList {
        img {
            width: 60px;
            padding: 4px;
            border: 1px solid #b3b3b7;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .itemImg {
        flex: 1 1 auto;
        text-align: center;
        padding: 15px;
        img {
            cursor: pointer;
            height: 300px;
            max-width: 600px;
        }
        @media (max-width: 570px) {
            img {height: 180px;     max-width: 345px;}
        }
    }
}





.cardData {
    margin-left: 20px;

    .cardParams {
        word-break: break-word;
        display: grid;
        grid-template-columns: 3fr 7fr;
        :nth-child(odd) {
            color: grey;
        }
    }
}



.fancybox__backdrop {
    opacity: 0.8 !important;
}

.noAvailableCatPage {
    color: #b3b3b7;
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    position: absolute;
    right: 0;
}
