.itemTitle {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.itemImgBlock {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    .imgList {
        img {
            width: 60px;
            height: 60px;
            padding: 4px;
            object-fit: scale-down;
            border: 1px solid #b3b3b7;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .itemImg {
        flex: 1 1 auto;
        text-align: center;
        padding: 15px;
        img {
            cursor: pointer;
            height: 300px;
            max-width: 600px;
        }
        @media (max-width: 570px) {
            img {height: 180px;     max-width: 345px;}
        }
    }
}





.cardData {
    display:flex;
    .cardTitle {
        flex: 0 0 200px;
    }
    .cardText {
        flex: 1 1 auto;
        color: grey;
        div {
            height: 21px;
        }
    }
}



.fancybox__backdrop {
    opacity: 0.8 !important;
}

.noAvailableCatPage {
    color: #b3b3b7;
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    position: absolute;
    right: 0;
}
