
.itemPath {
    color: grey;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
}
.itemTitle {
    font-weight: 500;
    font-size: 24px;
    padding-left: 150px;
    margin-bottom: 15px;
}

.cardData {
    margin-left: 20px;

    .cardParams {
        display: grid;
        grid-template-columns: 3fr 7fr;
        :nth-child(odd) {
            color: grey;
        }
    }
}

.imgList {
    span {
        margin-right: 10px;
    }
    .extraImg {
        width: 60px;
        padding: 4px;
        border: 1px solid #b3b3b7;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
