.breadcrump {
    color: #828282;
}

.catalogWrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 30px;
}

.wrapper {
    margin: 30px auto;
}
.wrapper>div>div {
    padding: 25px;
    text-align: center;

}
.wrapper>div>div:hover {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
    color: #260852;
}

 .wrapper img {
    width: 70px;
}

 .wrapper .text {
     font-weight: 600;
 }


.items>div>div>div {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.price {
    text-align: right;
    font-weight: 600;
    color: black;
}
.filters {
    font-style: italic;
    font-weight: 600;
    padding: 5px 0;
    margin-bottom: 5px !important;
}
.filters>div {
    width: 80%;
}