.breadcrump {padding-left: 30px;}

.catalogWrapper {
    display: grid;
    grid-template-columns: 250px auto;
    margin-top: 30px;
    .items {
        margin-top: 20px;
        a {
            margin-left: 10px;
            margin-bottom: 10px;
            width: 300px;
            transition: transform 0.1s ease-in-out;
            &:hover {
                transform: translateY(-0.8rem) scale(1.0125);
            }
            >div {
                background-color: #ffffffed;
            }
        }
    }
}

.wrapper {
    margin: 30px auto;
    >div>div {
        padding: 25px;
        text-align: center;
    }
    >div>div:hover {
        box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.04);
        .text:hover {
            transition: color ease-in-out .3s;
            color: #270952;
        }
    }
    img {width: 70px;}
    .text, a {
        font-weight: 600;
        color: #333;
    }


}

.price {
    text-align: right;
    font-weight: 600;
    color: black;
}





.filtersContainer {
    padding: 10px;
    background-color: #f3f3f3 !important;
    .filterName {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .filterHeader {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    .filterCheckBox {
        max-height: 350px;
        display: grid;
        overflow: auto;
    }
}

.wrapper2 {
    padding: 0 70px;
    margin-top: 50px;
    .catalogItems {
        >div {
            padding: 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            background-color: #ffffffed;
            margin: 20px;
            transition: .15s all ease-in-out;
            position: relative;
            &:hover {
                cursor: pointer;
                box-shadow: 0 14px 28px
                rgba(0,0,0,0.25), 0 10px 10px
                rgba(0,0,0,0.22);
                transform: scale(1.1);

            }
            .item {
                background-repeat: no-repeat;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                height: 200px;
                .text {
                    position: absolute;
                    top: 40%;
                    width: 200px;
                    color: white;
                    font-size: 16px;
                    text-shadow: 2px 2px black;
                    background-color: #260852;
                    border-radius: 15px 0px 15px 0px;
                }

            }
        }


    }
}

