.breadcrump {
    padding-left: 30px;
    text-align: center;
}

.catalogWrapper {
    margin-top: 30px;
    display:flex;
    .catalogWrapper-filters{flex: 0 0 250px;}
    .catalog-cards {
        flex: 1 1 auto;
        .catalog-cards-row {
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            padding-left: 20px;
            a {
                margin: 5px;
                width: 300px;
                .catalog-cards-column {
                    flex: 0 1 300px;
                    transition: transform 0.1s ease-in-out;
                    background-color: #ffffffed;
                    &:hover {
                        transform: translateY(-0.8rem) scale(1.0125);
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
@media (max-width: 560px){
    .catalogWrapper{
        flex-wrap: wrap;
        .catalogWrapper-filters {flex: 0 0 100%;}
        .catalog-cards {
            .catalog-cards-row {padding-left: 0;}
        }
    }
}

.price {
    text-align: right;
    font-weight: 600;
    color: black;
}


.filtersContainer {
    padding: 10px;
    background-color: #f3f3f3 !important;
    .filterName {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
    .filterHeader {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    .filterCheckBox {
        border-top: 1px solid #b7b7b7;
        /*border-bottom: 1px solid #b7b7b7;*/
        max-height: 350px;
        display: grid;
        overflow: auto;
        >div {
            cursor: pointer;
            position: relative;
            margin: 5px 0px;
            input {
                width: 27px;
                height: 17px;
                position: absolute;
                cursor: pointer;
            }
            label {
                margin: 0;
                font-size: 1rem;
                line-height: 1.5;
                padding-left: 40px;
                cursor: pointer;
            }
        }
    }
}

.wrapper2{
    padding: 0 35px;
    margin-top: 25px;
    .catalog-row {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin: -15px;
        .catalog-column {
            flex: 0 1 30%;
            padding: 15px;
            min-width: 230px;
            .catalog-container {
                transition: .15s all ease-in-out;
                &:hover {
                    background-color: #ffffffeb;
                    transform: scale(1.1);
                }
                .catalog-text {
                    text-align: center;
                    color: #ffffff;
                    font-size: 16px;
                    text-shadow: 2px 2px black;
                    background-color: #260852;
                    border-radius: 15px 0px 0px 0px;
                    line-height: 2;
                }
                .catalog-item {
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #ffffffeb;
                    height: 200px;
                    border-radius: 15px 0 15px 0px;
                }
            }
        }
    }
}

.upBtn {
    position: fixed;
    right: 10px;
    bottom: 64px;
    border: 1px solid #1976d2;
    border-radius: 50%;
}