$blockShadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

.titleBlock {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Alegreya", serif;
    letter-spacing: 2px;
    color: #260852;
    text-transform: uppercase;
    font-style: italic;
    white-space: nowrap;
    margin-bottom: 10px;
    .blockBody {
        box-shadow: $blockShadow;
        background-color: #ffffff;
        width: 90%;
        margin: -10px 0 10px 0;
        padding: 10px;
    }
}

.blockInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    min-width: 300px;
    height: 90px;
    box-shadow: $blockShadow;
    background-color: #ffffffed;
    > div:nth-child(2) {
        font-weight: 600;
        color: #676767;
    }
    > div:nth-child(3) {
        font-style: italic;
    }

}

.catalogCard {
    margin: 6px;
    width: 300px;
    .catalog-cards-column {
        flex: 0 1 300px;
        transition: transform 0.1s ease-in-out;
        box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%), 0 5px 15px 0 rgb(37 44 97 / 15%);
        border-radius: 15px;
        &:hover {
            transform: translateY(-0.8rem) scale(1.0125);
            background-color: #fff;
        }
        .notAvailable {
            background: grey;
            padding: 3px;
            text-align: right;
            color: #fff;
            position: absolute;
            right: 0;
            top: 76px;
            border-radius: 4px 0 0 4px;
        }
        .cardTitle {
            font-size: 16px;
            padding: 10px 10px 0px 10px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 50px;
        }
        .cardSubTitle {
            color: black;
        }
    }
}