.main {
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    position: relative;
    min-height: 100vh;
}

.mainHeader {
    position: relative;
    z-index: 3;
    color: #828282;
    font-size: 13px;
    line-height: 1.2;
    border-bottom: 1px solid #f2f2f2;
    ul {
        list-style: none;
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        height: 40px;
        margin: 4px auto;
        li {
            white-space: nowrap;
            margin-left: 15px;
            margin-right: 15px;
            font-weight: 500;
            a {
                text-decoration: none;
                color: #828282;
                font-size: 14px;
                &:hover, &.active {
                    text-decoration: none;
                    cursor: pointer;
                    /*color: #333333;*/
                    color: #260852;
                    transition: color ease-in-out .2s;
                }
            }
        }
    }
}



.navHeader {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #fafafa;
    padding: 0 45px;
    >span img {
        width: 58px;
        margin-top: 6px;
    }
}

.lowerHeader {
    margin: 10px auto;
    padding: 0 45px;
}

.headerInfo {
    color: #260852;
    font-size: 24px;
    font-weight: 600;
    font-family: emoji;
    right: 50px;
    position: absolute;
    top: 8px;
}

.mainBody {
    padding: 0 130px;
}

.botLogo {
    position: absolute;
    width: 350px;
    right: 14px;
    bottom: -33px;
    z-index: -1;
}