
.main {
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    position: relative;
    min-height: 100vh;
}

.mainHeader {
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 13px;
    line-height: 1.2;
    background-color: #fff;
    box-shadow: 0 1px 10px -6px rgb(0 0 0 / 42%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px -2px rgb(0 0 0 / 10%);

    ul {
        list-style: none;
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        height: 40px;
        margin: 4px auto;
        li {
            white-space: nowrap;
            margin-left: 15px;
            margin-right: 15px;
            a {
                text-decoration: none;
                color: #000;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                &:hover, &.active {
                    text-decoration: none;
                    cursor: pointer;
                    color: #260852;
                    transition: color ease-in-out .2s;
                }
            }
        }
    }
    .navHeader {
        padding: 0 45px;
        >span img {
            width: 58px;
            margin-top: 6px;
        }
        .headerInfo {
            color: #260852;
            font-size: 24px;
            font-weight: 600;
            font-family: auto;
            right: 50px;
            position: absolute;
            top: 8px;
            text-transform: uppercase;
            font-style: italic;
        }
    }
}

.lowerHeader {
    padding: 15px 45px;
    margin-top: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #f3f3f3;
}


.pageTitle {
    padding: 15px 70px;
    span {
        font-weight: 600;
        font-size: 20px;
    }
}
.pageBody {
    padding: 0 70px !important;
    .noDataWithFilters {
        text-align: center;
        font-size: 16px;
        font-style: italic;
        color: #1976d2;
        font-weight: 600;
    }
}

.botLogo {
    position: absolute;
    width: 600px;
    right: 14px;
    bottom: -33px;
    z-index: -1;
    opacity: 0.5;
}

a {text-decoration: none;}

.noDataOnPage {
    font-size: 37px;
    text-align: center;
    padding-top: 94px;
    font-weight: 600;
}
