@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800&display=swap');

.main {
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    position: relative;
    min-height: 100vh;
}

.mainHeader {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 1px 10px -6px rgb(0 0 0 / 42%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px -2px rgb(0 0 0 / 10%);
    .navHeader {
        display: flex;
        .navHeader-img{
            flex: 0 0 58px;
            margin-top: 6px;
            img{width: 58px;}
        }
        .navHeader-menu{
            flex: 1 1 auto;
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 40px;
                margin: 4px auto;
                li {
                    white-space: nowrap;
                    margin: 0 15px;
                    a {
                        color: #000;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        &:hover, &.active {
                            text-decoration: none;
                            cursor: pointer;
                            color: #260852;
                            transition: color ease-in-out .2s;
                        }
                    }
                }
            }
            .navHeaderMiniMenu {
                display: none;
                padding-top: 5px;
                justify-content: end;
                button { color: black}
            }
            @media (max-width:1020px ) {
                ul {display: none}
                .navHeaderMiniMenu {display: flex}
            }
            .navHeaderMiniMenu2{
                a{
                    color: black;
                }
            }
        }
        .navHeader-title{
            flex: 1 1 auto;
            font-family: 'Alegreya', serif;
            letter-spacing: 2px;
            color: #260852;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
            white-space: nowrap;
            padding-left: 10px;
        }
        @media (max-width:560px ) {
            .navHeader-title {
                font-size: 21px;
                padding-top: 10px;
            }
        }
    }
}

.lowerHeader {
    padding: 15px 45px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #f3f3f3;
}
@media (max-width: 1020px) {.lowerHeader>div, .lowerHeader>div>div {width: 770px !important;}}
@media (max-width: 860px) {.lowerHeader>div, .lowerHeader>div>div {width: 660px !important;}}
@media (max-width: 760px) {
    .lowerHeader>div, .lowerHeader>div>div {width: 560px !important;height: 200px !important;}
}
@media (max-width: 660px) {
    .lowerHeader {padding: 15px 0}
    .lowerHeader>div, .lowerHeader>div>div {width: 460px !important;height: 150px !important;}
}
@media (max-width: 560px) {
    .lowerHeader {padding: 15px 0}
    .lowerHeader>div, .lowerHeader>div>div {width: 360px !important;height: 100px !important;}
}

.footer {
    margin-top: 15px;
    /*background: #333333;
    color: #fff;*/
    background: #f3f3f3;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 25px 15px;
    display: inline-flex;
    flex-wrap: wrap;
    .footerLeft{
        flex: 1 1 60%;
        font-style: italic;
        font-size: 12px;
        align-items: baseline;
    }
    .footerRight {
        flex: 1 1 250px;
        p {
            padding-left: 100px;
        }
        .footerTitle {
            font-family: "Alegreya", serif;
            letter-spacing: 2px;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
            white-space: nowrap;
            text-align: end;
            text-shadow: 1px 1px 1px #fff;
        }
    }

}

.pageTitle {
    padding: 15px 35px;
    span {
        font-weight: 600;
        font-size: 20px;
    }
}
.pageBody {
    padding: 0 35px;
    .noDataWithFilters {
        text-align: center;
        font-size: 16px;
        font-style: italic;
        color: #1976d2;
        font-weight: 600;
    }
}

.botLogo {
    position: absolute;
    /*width: 600px;*/
    /*right: 14px;*/
    bottom: 0;
    width: 250px;
    /*z-index: -1;
    opacity: 0.5;*/

}
@media (max-width: 600px) {.botLogo{opacity: .3;}}


a {text-decoration: none;}

.iconAlign {
    vertical-align: text-top;
    padding-right: 5px;
}
.paddingTB {
    padding: 15px 0;
}
.blockTitle {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    >div {
        margin: 10px;
        padding-top: 15px;
        min-width: 300px;
        width: 30%;
        height: 100px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        background-color: #ffffffed;
        >div:nth-child(2) {
            font-weight: 600;
            color: #676767;
        }
        >div:nth-child(3) {
            font-style: italic;
        }
    }
}

